.filtrage {
  /* position: fixed;
  
  top: 0;
  right: 0;
  margin-top: 95px; */
  width: 100%;
  min-height: 15vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, auto));
  align-items: center;
  gap: 1.5rem;
  background-color: #fff;
  z-index: 1;
}

.products {
  display: grid;
  width: 100%;
}

.container-trajet {
  min-height: 1000px;
}

.container-trajet section {
  position: relative;
}

/* .products-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    width: 100%;
  } */
.products-container .box {
  max-width: 350px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}

.products-container img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #F1F1F1;
  border-radius: 0.5rem;
}

.products-container .box h3 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: none;
  margin: 0.5rem 0 0.5rem;
}

.products-container .box h3 span {
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  margin: 0.5rem 0 0.5rem;
}

.products-container .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.products-container .box .content span {
  padding: 0 1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}

.products-container .box .content button {
  border: 2px solid var(--main-color);
  transition: 0.5s all linear;
}


/* Style du tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Style de la boîte du tooltip */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Afficher le tooltip lorsqu'il est survolé */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}